<div class="content">
    <h3>Marche à suivre</h3>
    <ol>
        <li>Générer une liste de noms au format xlsx de la classe concernée sur Hermes et l'enregistrer sur votre
            ordinateur</li>
        <li>Charger le fichier xlsx à l'aide du formulaire de la page.</li>
        <li>Indiquer les élèves au bénéfice de temps supplémentaire (icône chronomètre).</li>
        <li>Si un tirage a déjà été effectué en classe, remplir l'ordre de passage (icône dièse).</li>
        <li>Possibilité d'effectuer un tirage aléatoire (bouton "Tirage aléatoire").</li>
        <li>Cliquer sur le bouton "Suivant".</li>
        <li>L'ordre de passage apparaît à l'écran. Les élèves qui ont moins d'une heure entre les deux examens
            apparaissent
            en rouge. La gauche de l'écran vous permet de faire des modifications et ajustements.</li>
        <li>Insérez le nom des disciplines pour le premier et le second examen.</li>
        <li>Ajuster les temps de passage, de préparation et de préparation supplémentaire.</li>
        <li>Ajuster le temps de pause du matin pour que tous les élèves apparaissent en noir.</li>
        <li>Ajuster le temps de pause de l'après-midi pour que tous les élèves apparaissent en noir.</li>
        <li>Au besoin, ajuster le temps de pause repas.</li>
        <li>Ajuster l'heure de début, pour correspondre à vos besoins.</li>
        <li>Cliquer sur le bouton "Imprimer" pour sauvegarder une version PDF des ordres de passages.</li>
        <li>Cliquer sur le bouton "Export xlsx " pour sauvegarder une version Excel des ordres de passages.</li>
    </ol>
    <p>
        <b>Astuce</b> : si les noms d'élèves sont trop longs, sauvegarder le fichier PDF au format A3, pour l'imprimer
        par
        la suite au format A4.
    </p>
</div>