.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings {
    width: 15rem;
    padding-right: 1rem;
    text-align: center;

    h3 {
        font-weight: bold;
    }

    .time-container {
        background-color: #E8EAF6;
        padding: 1rem;
        margin-bottom: 1rem;

        .label {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .button-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;

            button {
                margin: 0 1rem;
            }
        }
    }

    mat-form-field {
        width: 100%;
    }
}

.schedule {
    flex-grow: 1;
    max-width: 50rem;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th {
        padding: 0.5rem 0.25rem;
    }

    th.header-exam {
        background-color: #eee;
    }

    tr.header-bottom {
        border-bottom: 1px solid #666;
    }

    tr.odd {
        background-color: #eeeeee;
    }

    tr.item:hover {
        background-color: #dddddd;
    }

    tr.pause {
        background-color: #C1E1C1;

        .title {
            text-align: center;
        }
    }

    .border-right {
        border-right: 1px solid #666;
    }

    .border-left {
        border-left: 1px solid #666;
    }

    td {
        padding: 0.33rem;

        &.schedule {
            text-align: center;
            white-space: nowrap;

            &.empty {
                background-color: #fff;
            }
        }

        &.time-difference {
            text-align: center;
        }

        &.tpsup,
        &.draw {
            width: 2rem;
            text-align: center;

            mat-icon {
                vertical-align: middle;
                font-size: 1rem;
                margin-top: 0.5rem
            }
        }

        &.time,
        &.pause-time {
            text-align: center;
        }

        &.pause-label {
            text-align: right;
        }

        &.early {
            color: red;
        }
    }
}

@media print {
    .hide-from-print {
        display: none !important;
    }
}