.header,
.list {
    width: 60rem;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;

    .shuffle {
        flex-grow: 1;
        text-align: right;
    }

    .hints {
        flex-grow: 1;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;

            mat-icon {
                margin-right: 0.5rem;
            }
        }
    }
}

.list {
    mat-list-item {
        height: auto;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.list-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.n {
            width: 2rem;
        }

        &.tpsup {
            mat-icon {
                font-size: 1.2rem;
                margin-top: 0.6rem;
            }
        }

        &.name {
            flex-grow: 1;
        }

        &.draw {
            width: 7rem;
            margin-left: 5rem;

            input {
                width: 2rem;
                margin-right: 0.5rem;
            }
        }

        &.remove {
            margin-left: auto;
        }
    }
}