.logo{
    text-decoration: none;
    color: #fff;
}
.spacer {
    flex: 1 1 auto;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    width: 95%;
    margin: 0 auto;
    padding: 1rem;

    .upload-form {
        text-align: center;
    }
}

.hint {
    font-size: 85%;
    font-style: italic;

    &.error {
        color: red;
    }
}

.classe {
    font-weight: bold;
    text-align: center;
}

.item-list {
    .list-item {
        padding: 0.33rem;
        display: flex;
        justify-content: left;
        align-items: center;

        .n {
            width: 2rem;
        }

        .tpsup {
            margin-right: 1rem;

            .icon {
                margin-left: 0.5rem;
            }
        }

        .actions {
            margin-left: auto;
        }
    }
}

@media print {
    .hide-from-print {
        display: none !important;
    }
}