html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fff;
}

mat-card {
    margin-bottom: 1rem;
}

.button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 52rem;
    padding: 2rem 0;
    margin: 0 auto;

    .button-row-spacer {
        flex-grow: 1;
    }
}

@media print {
    mat-tab-header.mat-mdc-tab-header {
        display: none !important;
    }
    mat-card.mat-mdc-card {
        box-shadow: inherit;
    }
}